<h3>Products</h3>
<div class="container">
    <div class="alert alert-success" *ngIf="saveSuccess">
        <strong>Se elimino el registro</strong>
    </div>
    <div class="alert alert-danger" *ngIf="saveError">
        <strong>{{errorMessage}}</strong>
    </div>

    <div class="panel panel-default">
        <button class="btn btn-info" routerLink="/products">
            <span class=" glyphicon glyphicon-floppy-disk">
            </span>Products1
        </button>
        <button class="btn btn-info" routerLink="/products/create" [queryParams]="{filterBy: filter}">
            <span class=" glyphicon glyphicon-new-window"></span>Create
        </button>
        <button type="button" class="btn btn-info" (click)="obtenerTodos()">
            <span class="glyphicon glyphicon-th-list"></span> Obtener Todos
        </button>
        <div class="row">
            <input #searchBox id="search-box" [(ngModel)]="paginacion.filtro" (keyup)="search()"/>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Products</div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Supplier</th>
                            <th>quantityPerUnit</th>
                            <th>Price</th>
                            <th>Inventory</th>
                            <th>Details</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of products | async;">
                            <td>{{p.productId}}</td>
                            <td>{{p.productName}}</td>
                            <td>{{p.categoryName}}</td>
                            <td>{{p.supplierName}}</td>
                            <td>{{p.quantityPerUnit}}</td>
                            <td>{{p.unitPrice | currency:'USD':true}}</td>
                            <td>{{p.unitsInStock}}</td>
                            <td>
                                <button class="btn btn-info" [routerLink]="['/products', p.productId]" [queryParams]="{filterBy: filter}"><span class="glyphicon glyphicon-expand"></span>Details</button>
                            </td>
                            <td>
                                <button class="btn btn-info" (click)="delete1(p.productId)"><span class=" glyphicon glyphicon-remove"></span>Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul class="pagination" *ngFor="let contador of numeroDePaginas">
                    <li (click)="seleccionarPagina($event)" [class]="paginaSeleccionadaActual == contador.pageNumber ? 'active' : ''" style="cursor:pointer;">
                        <a>{{contador.pageNumber}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
