<form class="form-horizontal" novalidate (ngSubmit)="save()" [formGroup]="productForm">
    <fieldset>
        <div class="container">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center"><h1>Create Product</h1></div>
                    <div class="panel-body " style="background-color: aliceblue ">
                        <div *ngIf="product!=null" class="panel panel-primary">
                            <div class="panel-heading">New Product</div>
                            <div class="panel-body">

                                <div class="form-group" [ngClass]="{'has-error': isValid('productName') }">
                                    <label class="col-md-2 control-label"
                                           for="firstNameId">Product Name</label>
                                    <div class="col-md-8">
                                        <input class="form-control"
                                               id="productNameId"
                                               type="text"
                                               placeholder="Product Name (requerido)"
                                               formControlName="productName" />
                                        <span class="help-block" *ngIf="(productForm.get('productName').touched ||
                                                         productForm.get('productName').dirty) &&
                                                         productForm.get('productName').errors">
                                            <span *ngIf="productForm.get('productName').errors.required">
                                                El nombre del producto es requerido.
                                            </span>
                                            <span *ngIf="productForm.get('productName').errors.minlength">
                                                Al menos 3 caracteres.
                                            </span>
                                            <span *ngIf="productForm.get('productName').errors.maxlength">
                                                Se acepta un máximo de 20 caracteres.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group" [ngClass]="{'has-error': isValid('supplierId') }">
                                    <label class="col-md-2 control-label"
                                           for="SupplierID">Supplier</label>
                                    <div class="col-md-8">
                                        <select class="form-control" required [(ngModel)]="product.supplierId"
                                                formControlName="supplierId" id="supplierId">
                                            <option *ngFor="let supplier of suppliers  | async" [ngValue]="supplier.supplierId">
                                                {{supplier.companyName}}
                                            </option>
                                        </select>
                                        <span class="help-block" *ngIf="(productForm.get('supplierId').touched ||
                                                         productForm.get('supplierId').dirty) &&
                                                         productForm.get('supplierId').errors">
                                            <span *ngIf="productForm.get('supplierId').errors.required">
                                                El proveedor es requerido.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <!--<div class="form-group" [ngClass]="{'has-error': isValid('supplierId') }">
                                    <label class="col-md-2 control-label"
                                           for="supplierId">supplierId</label>

                                    <div class="col-md-8">
                                        <input class="form-control"
                                               id="supplierId"
                                               type="text"
                                               placeholder="supplierId (requerido)"
                                               formControlName="supplierId" />
                                        <span class="help-block" *ngIf="(productForm.get('supplierId').touched ||
                                                                         productForm.get('supplierId').dirty) &&
                                                                         productForm.get('supplierId').errors">
                                            <span *ngIf="productForm.get('supplierId').errors.required">
                                                El supplierId es requerido.
                                            </span>
                                            <span *ngIf="productForm.get('supplierId').errors.minlength">
                                                Al menos 1 caracteres.
                                            </span>
                                            <span *ngIf="productForm.get('supplierId').errors.maxlength">
                                                Se acepta un máximo de 20 caracteres.
                                            </span>
                                        </span>
                                    </div>
                                </div>-->
                                <!--<div class="form-group" [ngClass]="{'has-error': isValid('categoryId') }">
                                    <label class="col-md-2 control-label"
                                           for="supplierId">categoryId</label>

                                    <div class="col-md-8">
                                        <input class="form-control"
                                               id="categoryId"
                                               type="text"
                                               placeholder="categoryId (requerido)"
                                               formControlName="categoryId" />
                                        <span class="help-block" *ngIf="(productForm.get('categoryId').touched ||
                                                                         productForm.get('categoryId').dirty) &&
                                                                         productForm.get('categoryId').errors">
                                            <span *ngIf="productForm.get('categoryId').errors.required">
                                                El categoryId es requerido.
                                            </span>
                                            <span *ngIf="productForm.get('categoryId').errors.minlength">
                                                Al menos 1 caracteres.
                                            </span>
                                            <span *ngIf="productForm.get('categoryId').errors.maxlength">
                                                Se acepta un máximo de 20 caracteres.
                                            </span>
                                        </span>
                                    </div>
                                </div>-->
                                <div class="form-group" [ngClass]="{'has-error': isValid('categoryId') }">
                                    <label class="col-md-2 control-label"
                                           for="CategoryID">Category</label>
                                    <div class="col-md-8">
                                        <select class="form-control" id="categoryId" formControlName="categoryId" required [(ngModel)]="product.categoryId">
                                            <option *ngFor="let category of categories  | async" [ngValue]="category.categoryId">
                                                {{category.categoryName}}
                                            </option>
                                        </select>
                                        <span class="help-block" *ngIf="(productForm.get('categoryId').touched ||
                                                         productForm.get('categoryId').dirty) &&
                                                         productForm.get('categoryId').errors">
                                            <span *ngIf="productForm.get('categoryId').errors.required">
                                                La categoria es requerida.
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Save</button>
                                    <button type="submit" class="btn btn-primary" (click)="onBack()">Back</button>
                                </div>
                                <div class="alert alert-success" *ngIf="saveSuccess">
                                    <strong>Se creo el registro {{product.productName}}</strong>
                                </div>
                                <div class="alert alert-danger" *ngIf="saveError">
                                    <strong>{{errorMessage}}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </fieldset>
</form>

